 body{background-color:#f6f6f6;}
  /*1.导航*/
#daohang{
		 height:30px;
		 color:#999;
		 background:#000;
		 margin:0 auto;
		 font-size:12px;
}
     #dh{
         line-height:30px; 
		 margin-left:15.5%;
   }
    .dh1{
         margin-right:20px;
   }
 .mrqd{color:#999;}
 .mrqd:hover{color:white;}
    .dht{
         width:10px;
   }
    #dhu{
		 float:right;
		 left:44%;
		 top:0px;
		 position:absolute;
		 height:30px;
	}
   .dhl1{
         float:left;
		 margin-left:5px;
		 position:relative;
		 height:30px;
		 width:80px;
		 text-align:center;
		 line-height:29px;
   }
   .dhqiandao{margin-left:30px;}
  
 /*导航菜单 个人中心*/
   .dhcenter{
		 width:90px;
		 height:250px;
		 border:2px solid #e8e8ea;
		 background:white;
		 font-size:12px;
		 position:absolute;
		 top:30px;
		 left:-1px;
		 padding:4px 15px 12px 14px;
		 z-index:1;
		 color:#000;
		 display:none;
		 text-align:left;
		 line-height:15px;
	}
.dhcenter a{color:#000;}
.dhcenter a:hover{color:red;}
  .dhhelp{height:110px;}
  .dhchongzhi{
		 height:80px;
		 width:100px;
  }
  .dhquanyi{
		 height:50px;
		 width:80px;
  }
  .dhgengduo{
         height:160px;
		 width:80px;
		 position:absolute;
		 left:-32px;
  }
    .dhl3{width:100px;}
 .dhcenter-1{margin:5px 0 12px 5px;}
 .dhl1:hover>.dhcenter{
		 display:block;
 }
 .dhl2:hover{
	     background:white;
		 color:red;
	 }

   /*2.logo*/
   #logo{
		 height:100px;
		 border:0px solid red;
		 position:relative;
   }
   #kaola{
		 position:absolute;
		 left:15.5%;
		 top:20%;
   }
   #topsearch{
		 outline:none;
         width:30%;
		 height:36%;
		 border:2px solid red;
		 border-radius:24px;
		 position:absolute;
         left:37%;
		 top:25%;
		 font-style:italic;
		 background:#f6f6f6;
   }
   #sousuok{
         width:4%;
		 height:40%;
		 background:red;
		 border-radius:24px;
		 border:0;
		 position:absolute;
		 right:31%;
		 top:25px;
		 outline:none;
		 cursor:pointer;
   }
   #lgshopcar{
         width:7%;
		 height:40px;
		 border-radius:36px;
		 background:#f6f6f6;
		 font-size:14px;
		 color:#333;
		 border:2px solid red;
		 position:absolute;
		 right:21%;
		 top:25px;
		 outline:none;
		 cursor:pointer;
   }
   #lgshopcar:hover{
		 color:red;
		 background:#fff0f0;
   }
   .lgcartu{vertical-align:middle;}
   .lg-l1{
		 float:left;
		 font-size:12px;
		 color:#999;
		 margin-right:28px;
		 cursor:pointer;
   }
   .lg-l1:hover{text-decoration:underline;}
   #logo>ul{
         position:absolute;
		 left:39%;
		 top:70px;
   }

   /*3.内容导航*/
   #nrdaohang{
         width:65%;
		 height:40px;
		 border:0px solid red;
		 margin:0 auto;
		 position:relative;
   }
   .nrdh{
		 float:left;
		 font-size:15px;
		 color:#333;
		 font-weight:700;
		 margin-right:39px;
   }
   .nrdh a{color:#333;}
 .nrdh a:hover{
		 color:red;
   }
#nrdaohang>ul{
         position:absolute;
		 left:17%;
		 line-height:40px;
}

/*4.左边导航栏*/
     .i1{
		 width:15px;
		 height:0;
		 border:1px solid #ddd;
		 margin-bottom:3px;
		 display:block;
     }
  .zdhl1{
         width:144px;
		 height:41px;
		 background:linear-gradient(to right,#f00,#ff3264);
		 font-size:14px;
		 color:white;
		 border-bottom:1px solid #ff5160;
		 line-height:42px;
		 padding-left:20px;
 }
 .zdhl1-1{
		 float:left;
		 margin-right:10px;
		 margin-left:3px;
 }
	 .i2{
         margin-top:15px;
 }
 .zdhimg-1{
         vertical-align:middle;
		 margin-right:10px;
 }
  #zdhfu{
		 width:164px;
		 border-left:1px solid red;
		 margin-top:-2.6%;
		 z-index:100;
		 position:relative;
		 left:15.5%;
		 float:left
  }
  .zdhs1{
		 float:right;
		 margin-right:23px;
		 color:#ff96ad;
  }

  /*一楼*/
  #zdhd0{
         width:930px;
		 height:460px;
		 border:1px solid red;
		 background:white;
		 position:absolute;
		 top:41px;
		 left:163px;
		 display:none;
  }
  #zdhfu:hover .meirong{display:block}
  .meirong{display:none;}
  .meirong:hover #zdhd0{
		 display:block;
  }
  .meirong:hover{
         background:white;
		 color:red;
  }
  .zdhdh-1{
         font-size:14px;
		 color:#333;
		 font-weight:bold;
		 margin-left:20px;
		 margin-right:30%;
		
  }
  #zdhd0 hr{
         width:650px;
		 border:0.5px solid #f0f0f0;
		 margin-left:15px;
		 margin-top:-5px;
  }
  #zdhd0 div{
         font-size:13px;
		 color:#666;
  }
  #zdhd0 span:hover{
		 cursor:pointer;
		 text-decoration:underline;
  }
  .zdhxq1{
         float:left;
		 margin-right:42px;
		 margin-left:23px;
  }
  .zdhxq1 span{
         margin-right:15px;
  }
  .zdhxq2{margin-left:10px;}
 .zdh-red{color:red;}
 .zdhd0-0{margin-bottom:-5px;}
 #zdhd0-1{
          width:240px;
		  height:460px;
		  background:#f6f6f6;
		  position:absolute;
		  right:0;
		  top:0;
 }
  .zdhimg{
          width:105px;
		  border:1px solid #eaeaea;
		  margin:10px -12px -23px 12px;
 }
 .zdhimg-9{
		  width:220px;
	      position:absolute;
		  left:-5px;
		  bottom:35px;
		  border:0;
 }

 /*二楼*/
 .zdhdh-2{margin-left:10px;}
  .baobao{margin-left:-15px;}
  .zdhxq3{margin-left:50px;}
  .zdhxq4{margin-left:15px;}

 /*三楼*/
     .bibei{margin-left:-20px;}
 .zengjifen{margin-left:30px;}

 /*四楼*/
   .zhineng{margin-left:-30px;}
     .beats{margin-left:40px;}

 /*五楼*/
      .zubu{margin-left:10px;}
   .chongwu{margin-left:45px;}
      .huli{margin-left:0;}
    .shenti{margin-left:-25px;}

 /*七楼*/
       .txu{margin-left:55px;}
    .fenlei{margin-left:10px;}
     .jiyou{margin-left:32px;}

 /*八楼*/
     .dapai{margin-left:10px;}
   .taiyang{margin-left:0px;}

 /*九楼*/
     .xiuli{margin-left:40px;}
   .mingbao{margin-left:-20px;}

 /*十楼*/
     .canju{margin-left:-10px;}
     .guoju{margin-left:50px;}
     .jiaju{margin-left:15px;}
    .riyong{margin-left:43px;}
 
 /*十一楼*/
     .remen0{margin-left:-98px;}
	 .deyun{margin-left:15px;}

/*5.国家馆背景图*/
#bg-image{
		 width:100%;height:471px;
		 background:url(../image/country/pRX04mx2QerOruvO6umVT1809262034_1920_471.jpg) -170px;
		 background-size:1920px 471px;
}
#bg-image-1{
		 width:100%;height:360px;
		 background:url(../image/country/xpzkJucTGeMVNhUIo2qXJET1809262034_1920_360.jpg) -170px;
		 background-size:1920px 360px;
}

/*6.日本馆*/
.content-title{
		 width:100%;height:56px;
		 background:url(../image/country/gJT0NpvDlUNnmOqTrzevEGPHI3T1809271114_1920_56.jpg) -170px;
		 background-size:1920px 56px;
}
/*6.1 日本馆图框*/
.content{
		 width:1000px;
		 margin:0 auto;	
}
.content-li{
		 width:199px;
		 height:284px;	 
		 background:#000;
		 float:left;
}
.content-li-1{
		 padding-left:4.5px;
}
.goods-bd{
		 width:193px;
		 height:279px;
		 border:1px solid #000;
		 background:#fff;
		 position:relative;
}
.goods-bd:hover{
		 border:1px solid red;
}
.content-img{
		 width:192px;
		 height:192px;
}
.content-img:hover{
		 cursor:pointer;
}
.tag-btn{
		 width:32px;
		 height:20px;
		 background:#ff8385;
		 color:#fff;
		 font-size:12px;
		 line-height:20px;
		 text-align:center;
		 position:absolute;
		 top:0;left:0;
}
.tagitem-img{
		 width:48px;
		 height:32px;
		 position:absolute;
		 top:10px;right:10px; 
}
.tag-btn1{
		 height:15px;
		 padding:0 4px;
		 border:1px solid #e31436;
		 color:#e31436;
		 border-radius:3px;
		 font-size:12px;
		 text-align:center;
		 line-height:15px;
		 position:absolute;
		 top:175px;left:13px;
}
.goods-title{
		 font-size:14px;
		 color:#333;
		 overflow:hidden;
		 white-space:nowrap;
		 text-overflow:ellipsis;
		 transition: .5s ease-out;
		 line-height:22px;
		 margin-left:5px;
}
.goods-title:hover{
		 text-decoration:underline;
		 cursor:pointer;
}
.goods-introduce{
		 font-size:12px;
		 color:#666;
		 margin:0 5px 5px;
}
.priceitem{
		 height:22px;
		 color:#e31436;
		 margin-left:5px;
}
 .price{
		 font-size:20px;
		 color:#e31436;
		 font-weight:700;
}
.mktprice{
		 font-size:12px;
		 color:#999;
		 text-decoration:line-through;
}
.goods-btn-img{
		width:27px;
		height:27px;
		position:absolute;
		bottom:5px;right:5px;
}

/*7.韩国馆*/
.content-title-7{
		 background:url(../image/country/6g1NkohpxXOypnuPhTeJH4rHDAT1809271131_1920_66.jpg) -170px;
}
/*7.1 韩国馆图框*/
.content-li-7{
		 width:193px;
		 height:279px;
		 background:#f6f6f6;
		 margin-bottom:8px;
}
.content-li-7-1{margin-left:8px;}

/*8.美国馆*/
.content-title-8{
		 background:url(../image/country/DLbrBRzbBVSgkJA1tPgboPNdMyT1809271131_1920_60.jpg) -170px;
}

/*9.澳新馆*/
.content-title-9{
		 background:url(../image/country/rdJa3ZIHbLPxZu39BF7d5biFLIT1809271131_1920_62.jpg) -170px;
}

/*10.德国馆*/
.content-title-10{
		 background:url(../image/country/DST9FHy3vTo03flp1m5kD3lM4nT1809271131_1920_58.jpg) -170px;
}

/*11.英国馆*/
.content-title-11{
		 background:url(../image/country/lhflQ6622c3ZAUuSgMofzzno5sT1809271131_1920_58.jpg) -170px;
}

/*12.法国馆*/
.content-title-12{
		 background:url(../image/country/nmGdFg7iemHVeHDGV6rOwC6PpmT1809271131_1920_62.jpg) -170px;
}
.content-btm{margin-bottom:80px;}

 /*13.承诺保障*/
 /*正品承诺*/
 #chengnuo{
		 background:white;
		 border:1px solid #eaeaea;
 }
 .cnbz-1{
		 width:1098px;
		 height:100px;
		 margin:0 auto;
		 margin-top:10px;
 }
 .cnbz-2{
		 width:44px;
		 height:44px;
		 color:#333;
		 border-radius:50%;
		 font-size:20px;
		 font-weight:700;
		 border:2px solid #d6d6d6;
		 text-align:center;
		 line-height:44px;
		 margin-right:10px;
 }
 .cnbz-3{
		 font-size:18px;
		 font-weight:700;
		 color:#333;
 }
 .cnbz-4{
		 font-size:14px;
 }
 .cnbz-22{
		 float:left;
 }
 .cnbz-u{
		 margin:50px 45px;
		 float:left;
 }
 /*关于我们*/
 #our{
		 width:1098px;
		 height:223px;
		 margin:40px auto 0;
		 color:#333;
		 font-size:12px;
 }
 .sina{
		 width:32px;
		 height:32px;
		 background-image:url('../image/index/icon1-832edc2b58 (1).png');
		 background-position:227px -69px;
 }
 .weixin{
		 background-position:183px -69px;
 }
 .zhifu{
		 background-position:139px -69px;
 }
  .sina1{
		 float:left;
		 color:#333;
		 margin-left:13px;
		 margin-top:15px;
 }
 .sina2{
		 margin-top:25px;
 }
 .xinlang{
		 margin-top:20px;
 }
  .our1{
		 float:left;
 }
 .our2{
		 margin-left:57px;
 }
 .our-zi{
		 font-size:18px;
 }
 .our-zz{
		 margin-top:15px;
 }
 .our-wz{
		 position:relative;
		 right:-13px;
 }
body .cdzph1{
		 width:1080px;
		 margin:40px 15.5% 25px;
		 border:0.5px solid #eaeaea;
}

 /*14.底部*/
  #down{
		height:155px;
		background:#333;
 }
 
 #lower{
		 height:153px;
		 width:1098px;
		 margin:0 auto;
		 border:1px solid #333;
		 color:#c2c2c2;
		 font-size:12px;
		 text-align:center;
}
.down-t1{
		 width:80px;
		 height:30px;
		 margin-right:10px;
}
.down-t2{
		 width:30px;
		 height:30px;
}
.lower-1{
		 line-height:26px;
}
.lower2{
		 margin-top:20px;
}
   .di{
		 margin-top:5px;
}
.lower3{
		 margin-right:20px;
}
.downtu{
		 vertical-align:middle;
}